<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings,Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true"/>
  </configSections>
  
  <connectionStrings>
    <add name="DefaultDB" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\MSSQLLocalDB;Integrated Security=False;Initial Catalog=posdb;User ID=sa;Password=sa;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    <add name="oracleDB" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=posdb)));Persist Security Info=True;User ID=posusr;Password=posusr;"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>


  <!--默认连接字符串 defaultDatabase属性匹配下面的 <add name 属性>
  <dataConfiguration defaultDatabase="DefaultDB"></dataConfiguration>
  -->
</configuration>
