<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration"
      type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings,Microsoft.Practices.EnterpriseLibrary.Data"
            requirePermission="true"/>
  </configSections>
  
  <connectionStrings>
    <add name="DefaultDB" providerName="System.Data.SqlClient"  connectionString="Data Source=(localdb)/MSSQLLocalDB;Integrated Security=False;Initial Catalog=posdb;User ID=sa;Password=sa;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>


</configuration>